.wrap{
    background: blue
    width: 900px;
    margin: 10px auto;
}
.wrap .header{
    background: dodgerblue;
    padding: 2px 10px;
}

.wrap .menu{
    background: gray;
}
.wrap .menu ul{
    padding: 0;
    margin: 0;
    background: gray;
    overflow: hidden;
}

.wrap .menu {
    float: left;
    list-style-type: none;
    padding: 10px;
}

    .clear{
        clear: both;
}
    .badan{
        height: 450px;
}
    .warp .badan .sidebar{
        background: orange;
        float: left;
        width: 25%;
        height: 100%;
        widht: 75%;
}
.wrap .badan .content{
    background: dodgerblue;
    width: 100%;
    padding: 10%;
}